.exploadr-loader-wrap {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .2s, visibility 0s linear .2s;
  visibility: hidden;
  z-index: 99999;
}
.exploadr-loader-wrap.in {
  opacity: 1;
  transition: opacity .2s, visibility 0s linear 0s;
  visibility: visible;
}
.exploadr-loader-wrap:before {
  background-color: rgba(255, 255, 255, .6);
  bottom: 0;
  content: '';
  left: 0;
  opacity: inherit;
  position: absolute;
  right: 0;
  top: 0;
}
.exploadr-inner {
  color: rgba(0, 0, 0, .7);
  font-size: 3em;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
body.has-exploadr {
  overflow: hidden;
}

body > .exploadr-loader-wrap {
  position: fixed;
}
